<h1>Index de ToDo</h1>

<%@todos.each do  |todo| %>
    <div class="card w-75">
        <div class="card-body">
            <h5 class="card-title"><%= todo.description %></h5>
            <p class="card-text"><%= todo.completed %></p>
            <%= link_to "Ver", todo, class:"btn btn-primary" %>
            <%= link_to "Edit", edit_todo_path(todo), class:"btn btn-success" %>
            <%= link_to "Eliminar", todo, method: :delete, data: {confirm: 'Estas seguro?'}, class:"btn btn-danger"%>
            <%= button_to "Completar", completes_path(todo)%>
            
        </div>
    </div>
<% end %>
  
  <%= link_to "Crear ToDo", todos_new_path, class:"btn btn-dark" %>